<% layout('./../layout') %>

<div class="container">
    <!-- 左侧内容 -->
    <div class="col-md-9 article-list-box">
        <ol class="breadcrumb panel panel-default">
            <li class="disabled">当前位置：</li>
            <li><a href="/">首页</a></li>
            <li class="active">列表</li>
        </ol>

        <%

            console.log(pageData);

            if(pageData) {
                pageData.listsArticles.obj.rows.forEach(function(item) {%>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="/show/detail?articleId=<%= item._id %>">
                                <h3><%= item.title %></h3>
                            </a>
                            <div class="article-content-box">
                                <%= item.content %>
                            </div>
                            <div class="article-info">
                                <i class="icon-time"><span><script>document.write(convertTime(<%= item.createDate %>))</script></span></i>
                                <i class="icon-user"><span><%= item.author %></span></i>
                            </div>
                        </div>
                    </div>
                <%})
            }
         %>
        <% include ../includes/pagination %>
    </div>


    <!-- 右侧内容 -->
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    最近文章
                </h3>
            </div>
            <div class="panel-body">
                <ul class="hot-article-box right-article-box">
                    <% if(pageData) {
                            pageData.newArticles.forEach(function(item) {
                    %>
                                <li class="shake-rotate"><a href="/show/detail?articleId=<%= item._id %>"><i class="icon-chevron-right"></i><%= item.title %></a></li>
                    <%
                            })
                        }
                    %>
                </ul>
            </div>
        </div>


        <!-- 热评文章 -->
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    热评文章
                </h3>
            </div>
            <div class="panel-body">
                <ul class="hot-article-box right-article-box">


                    <% if(pageData) {
                            pageData.newArticles.forEach(function(item) {
                    %>
                                <li class="shake-rotate"><a href="/show/detail?articleId=<%= item._id %>"><i class="icon-caret-right icon-large"></i><%= item.title %></a></li>
                    <%
                            })
                        }
                    %>
                </ul>
            </div>
        </div>


        <!-- 标签 -->
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    标签
                </h3>
            </div>
            <div class="panel-body">
                <ul class="right-tags-box">
                    <%
                    if(pageData) {
                            pageData.tags.forEach(function(item) {
                    %>
                    <li class="shake shake-slow"><a href="/lists/tag?keywords=<%= item %>"><%= item %></a></li>
                    <%      })
                    }
                    %>
                </ul>
            </div>
        </div>
    </div>
</div>